<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audio</key>
	<string>30</string>
	<key>video</key>
	<string>6</string>
	<key>dimensions</key>
	<string>110 x 61,8 x 8,5 (mm)</string>
	<key>weight</key>
	<string>115 g.</string>
	<key>display-type</key>
	<string>TFT capacitive touchscreen</string>
	<key>display-density</key>
	<string>330 ppi</string>
	<key>WLAN</key>
	<string>WiFi 802.11 b/g</string>
	<key>bluetooth</key>
	<string>2.1</string>
	<key>camera-primary</key>
	<string>No</string>
	<key>camera-primary-video</key>
	<string>1080p HD (30 fps)</string>
	<key>camera-secondary</key>
	<string>No</string>
	<key>camera-secondary-video</key>
	<string>720p HD</string>
	<key>cpu</key>
	<string>833 MHz Cortex-A8 (locked at 600)</string>
	<key>gpu</key>
	<string>PowerVR SGX 535</string>
	<key>screen-size</key>
	<string>4.7&quot;</string>
	<key>screen-resolution</key>
	<string>1136x640</string>
	<key>screen-size - 2</key>
	<string>3.5&quot;</string>
	<key>screen-resolution - 2</key>
	<string>480x320</string>
</dict>
</plist>
